<div class="container-fluid">
  <div class="row">
    <h3>Menu: <h3>
    <h3><%= @menu.date_format(@menu.date) %><h3>
  </div>
  <div class="row">
    <%= link_to t('buttons.edit_menu'),
      edit_delivery_place_menu_path(@menu.delivery_place_id, @menu.id),
      class: "btn btn-outline-primary"
    %>
    <%= link_to t('buttons.back'),
      delivery_place_path(@menu.delivery_place_id),
      class: "btn btn-outline-primary"
    %>
    <%= link_to t('buttons.new_dish'),
      new_menu_dish_path(@menu.id),
      class: "btn btn-outline-success"
    %>
  </div>
  <%= t('dish.dishes_list') %>
  <div class="list-group">
    <% @menu.dishes.each do |dish| %>
      <ul>
        <%= link_to dish.name_with_price(dish),
          edit_menu_dish_path(@menu,dish),
          class: "list-group-item list-group-item-action list-group-item-light"
        %>
      </ul>
    <% end %>
  </div>
</div>
