<%= link_to "New Place", new_delivery_place_path, class: "btn btn-outline-success" %>
<% @delivery_places.each do |delivery_place| %>
  <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Miejsce dostawy</th>
          <th scope="col">Menu</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
              <p><%=link_to delivery_place.name, delivery_place_path(delivery_place) %></p>
              <p><%= delivery_place.hours_and_minutes(delivery_place.delivery_time) %></p>
              <p><%= delivery_place.hours_and_minutes(delivery_place.delivery_order_time) %></p>
          </td>
          <td>
            <% delivery_place.menus.each do |menu|%>
              <p><%= link_to menu.date, delivery_place_menu_path(delivery_place,menu) %></p>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
