<%= link_to t('buttons.new_delivery_place'), new_delivery_place_path, class: "btn btn-outline-success" %>
<% @delivery_places.each do |delivery_place| %>
  <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Miejsce dostawy</th>
          <th scope="col">Menu</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
              <p><%= t('delivery_place.name') %> <%=link_to delivery_place.name, delivery_place_path(delivery_place) %></p>
              <p><%= t('delivery_place.delivery_time') %> <%= delivery_place.hours_and_minutes(delivery_place.delivery_time) %></p>
              <p><%= t('delivery_place.delivery_order_time') %> <%= delivery_place.hours_and_minutes(delivery_place.delivery_order_time) %></p>
          </td>
          <td>
            <% delivery_place.menus.each do |menu|%>
              <p><%= t('menu.day') %><%= link_to menu.date, delivery_place_menu_path(delivery_place,menu) %></p>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
