<%= form_with(url: url, model: dish, local: true) do |form| %>
  <% if dish.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(dish.errors.count, "error") %>
         prohibited this course from being saved:
      </h2>
      <ul>
        <% dish.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <%= form.label t('dish.name') %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="col-md-2 mb-3">
      <%= form.label t('dish.price') %>
      <%= form.number_field :price, step: 0.01, min: 0.01, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit t('buttons.save'), class: "btn btn-outline-success" %>
  </div>
<% end %>
